@import url('../general/index.css');

.home-platform-destination--settings-configuration{
  width:var(--size-full);
  --home-platform-theme-token-label-size:var(--layout-home-platform-theme-token-label-size);
  --home-platform-theme-token-label-weight:var(--layout-home-platform-theme-token-label-weight);
  --home-platform-theme-token-label-line-height:var(--layout-home-platform-theme-token-label-line-height);
}

.home-platform-destination--settings-configuration .home-platform-theme__token-grid {
  display: block !important;
  grid-template-columns: unset !important;
  text-align: center;
}

.home-platform-destination--settings-configuration .home-platform-theme__token-grid .home-platform-theme__token-field {
  display: inline-flex !important;
  align-items: center !important;
  width: auto !important;
  flex-direction: row !important;
}

.home-platform-destination--settings-configuration .home-platform-theme__token-grid .home-platform-theme__token-input {
  width: var(--control-width-field);
  max-width: var(--control-width-field);
}


.home-platform-destination--settings-configuration .home-platform-theme__token-grid--hidden {
  display: none !important;
}
